{% extends "superset/basic.html" %}
<script type="text/javascript">

var can_add = {{ "true" if "can_add" | is_item_visible(modelview_name) else "false" }};
var can_show = {{ "true" if "can_show" | is_item_visible(modelview_name) else "false" }};
var can_edit = {{ "true" if "can_edit" | is_item_visible(modelview_name) else "false" }};
var can_delete = {{ "true" if "can_delete" | is_item_visible(modelview_name) else "false" }};
var actions = {{ actions | get_actions_on_list(modelview_name) }};
</script>

{% block body %}
  <div
    id="js-explore-view-container"
    class="dashboard container-fluid"
    data-bootstrap="{{ bootstrap_data }}"
  >
  </div>
  <div id="root" style="margin-top:-50px;height: 100%; overflow:auto;"></div>
{% endblock %}

{% block tail_js %}
  {{ super() }}
  {% with filename="panel" %}
    {% include "superset/partials/_script_tag.html" %}
  {% endwith %}
{% endblock %}

